
/* bgcolor : Black */
.colorfulpath-bg--black {
    background-color: #000;
}

.colorfulpath-bg--black-1 {
    background-color: #111;
}

.colorfulpath-bg--black-2 {
    background-color: #222;
}

.colorfulpath-bg--black-3 {
    background-color: #333;
}

.colorfulpath-bg--black-4 {
    background-color: #444;
}

.colorfulpath-bg--black-5 {
    background-color: #555;
}

.colorfulpath-bg--black-6 {
    background-color: #666;
}

.colorfulpath-bg--black-7 {
    background-color: #777;
}

/* bgcolor : white */
.colorfulpath-bg--white {
    background-color: #FFF;
}

.colorfulpath-bg--white-1 {
    background-color: #EEE;
}

.colorfulpath-bg--white-2 {
    background-color: #DDD;
}

.colorfulpath-bg--white-3 {
    background-color: #CCc;
}

.colorfulpath-bg--white-4 {
    background-color: #BBB;
}

.colorfulpath-bg--white-5 {
    background-color: #AAA;
}

.colorfulpath-bg--white-6 {
    background-color: #999;
}

.colorfulpath-bg--white-7 {
    background-color: #888;
}