
/* textcolor : Black */
.colorfulpath-text--black {
    color: #000;
}

.colorfulpath-text--black > a {
    color: #000;
}

.colorfulpath-text--gray {
    color: #666;
}

.colorfulpath-text--gray > a {
    color: #666;
}

.colorfulpath-text--gray-1 {
    color: #888;
}

a.colorfulpath-text--gray-1 {
    color: #888;
}

.colorfulpath-text--gray-1 > a {
    color: #888;
}

.colorfulpath-text--black-2 {
    color: #AAA;
}

.colorfulpath-text--black-2 > a {
    color: #AAA;
}

/* textcolor : white */
.colorfulpath-text--white {
    color: #FFF;
}

.colorfulpath-text--white > a {
    color: #FFF;
}

a.colorfulpath-text--white {
    color: #FFF;
}
